.addtasks-container {
    margin: 30px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addtasks-input {
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #444;
    color: #eee;    
    flex: 2;
}

.button-container {
    flex: 1;
    margin-left: 10px;  
}